.engineerBackground{
    background-image:url('/imagens/fundo-desfocado-sistema-distancia-rubraz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


  