@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full m-0;
}
  
.mainComponent {
  @apply h-full;
}


::-webkit-scrollbar             {width: 7px;}
::-webkit-scrollbar-track       {background: #000; }
::-webkit-scrollbar-thumb       {background: #FFBC01; border-radius:20px;}
::-webkit-scrollbar-thumb:hover {cursor:pointer; box-shadow: 0 0 5px #fff;}
